<div class="col-md-12"  ng-controller="PersonListController">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline well well-sm">
                <span class="fa fa-search"></span>

                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           id="name"
                           ng-model="search"
                           placeholder="Search name..."
                            />
                </div>

                <span class="fa fa-sort" ></span>

                <div class="form-group">
                    <select class="form-control"
                            ng-model="order">
                        <option value="name">Name (ASC)</option>
                        <option value="-name">Name (DEC)</option>
                        <option value="email">Email (ASC)</option>
                        <option value="-email">Email (DEC)</option>
                    </select>
                </div>

                <button class="btn btn-primary pull-right" ng-click="showCreateModal()">Create</button>
            </form>

            <table class="table table-bordered" infinite-scroll="loadMore()" infinite-scroll-distance="1">

                <tr>
                    <th class="col-1">#</th >
                    <th class="col-2">
                        <div class="sortables" >
                            <span ng-click="order = 'name'"
                                  class="fa fa-sort-up"></span>
                            <span ng-click="order = '-name'"
                                  class="fa fa-sort-desc"></span>
                        </div>
                        Name
                    </th>
                    <th class="col-3">
                        <div class="sortables">
                            <span ng-click="order = 'email'"
                                  class="fa fa-sort-up"></span>
                            <span ng-click="order = '-email'"
                                  class="fa fa-sort-desc"></span>
                        </div>
                        Email
                    </th>
                    <th class="col-4">Phone</th>
                </tr>

                <tr ng-repeat="person in contacts.persons"
                    ng-style="{
                     'background-color': person.email == contacts.selectedPerson.email ? 'lightgray' : ''
                }"
                    ng-click="contacts.selectedPerson = person">
                    <td>
                        <img class="img-circle profile-photo" ng-src="{{ person.photo | defaultImage:'http://api.adorable.io/avatars/40/r.png'}}" alt="">
                    </td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.phonenumber }}</td>
                </tr>
            </table>

            <div ng-if="contacts.persons.length == 0 && !contacts.isLoading">
                <div class="alert alert-info">
                    <p class="text-center">No results found for search term '{{ search }}'</p>
                </div>
            </div>
            
            <div class="spinner" ng-if="contacts.isLoading">
                <span us-spinner="{radius:8, width:5, length: 3, lines: 9}"></span>
                <p>Loading...</p>
            </div>
        </div>
    </div>
</div>