<div class="col-md-12" >
    
    <div class="row" 
         infinite-scroll="loadMore()" 
         infinite-scroll-distance="1" 
         infinite-immediate-check="false">

        <cc-card 
            user="person" 
            ng-repeat="person in contacts.persons" 
            delete-user="parentDeleteUser">
        </cc-card>
        
    </div>

    <div ng-if="contacts.persons.length == 0 && !contacts.isLoading">
        <div class="alert alert-info">
            <p class="text-center">No results found for search term '{{ search }}'</p>
        </div>
    </div>

    <cc-spinner is-loading="contacts.isLoading"></cc-spinner>
</div>